@font-face {
	font-family: 'Helvetica';
	src: url('fonts/Helvetica.ttf');
}
@font-face {
	font-family: 'MotserratBold';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/Montserrat-Bold.ttf');
}
@font-face {
	font-family: 'Motserrat';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/Montserrat-Bold.ttf');
}
@font-face {
	font-family: 'RobotoThin';
	font-style: normal;
	font-weight: 100;
	src: url('fonts/Roboto-Thin.ttf');
}
