@font-face {
  font-family: 'Helvetica';
  src: url("fonts/Helvetica.ttf"); }

@font-face {
  font-family: 'MontserratBold';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'RobotoThin';
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Roboto-Thin.ttf"); }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px; }

li {
  list-style: none; }

.grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 2fr));
  grid-row-gap: 65px;
  grid-column-gap: 8px; }

.btn {
  background-color: #ffe26d;
  color: black;
  display: inline-block;
  padding: 15px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
  font-family: "MontserratBold", sans-serif;
  border: none;
  cursor: pointer; }
  .btn:hover {
    background-color: #62497c;
    color: white;
    display: inline-block;
    padding: 15px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.2s linear, color 0.2s linear;
    -o-transition: background-color 0.2s linear, color 0.2s linear;
    transition: background-color 0.2s linear, color 0.2s linear;
    font-family: "MontserratBold", sans-serif;
    border: none;
    cursor: pointer; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-item {
  width: calc(100%/3); }

address {
  font-style: normal; }

header {
  height: 100vh;
  background: url("../img/backgrounds/background-1.jpg") center no-repeat;
  background-size: cover; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  color: #fff;
  text-transform: uppercase;
  font-family: "MontserratBold", sans-serif; }

.logo {
  font-size: 30px;
  font-weight: bold; }

.menu-link {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 13px;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear; }
  .menu-link:hover {
    color: #ffe26d; }

.mobile-link span {
  display: none;
  color: white;
  text-decoration: none; }

.header-inner {
  max-width: 490px;
  width: 100%;
  color: white; }
  .header-inner h1 {
    font-size: 5.3vh;
    margin-bottom: 35px;
    font-family: "MontserratBold", sans-serif; }
  .header-inner p {
    font-size: 21px;
    margin-bottom: 35px;
    font-family: "RobotoThin", sans-serif; }

.slider {
  padding-bottom: 40px; }

.fa-circle {
  color: white;
  font-size: 7px;
  opacity: 0.5;
  cursor: pointer; }

.active {
  opacity: 1; }

.container-header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.section-header {
  margin: 90px auto 88px auto;
  color: black;
  font-family: "MontserratBold", sans-serif;
  font-size: 44px;
  text-align: center; }

.welcome-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 75px; }
  .welcome-content p {
    font-size: 30px;
    font-family: "RobotoThin", sans-serif;
    width: 420px;
    vertical-align: middle; }

.welcome-umbrella img {
  width: 100%;
  max-width: 188px;
  height: auto; }

.service {
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 58px; }

.service-item {
  text-align: center;
  padding: 0 3em; }
  .service-item p {
    margin-bottom: 35px;
    font-family: "Helvetica", sans-serif;
    font-size: 13px;
    color: #a3a3a3; }

.service-name {
  margin-bottom: 30px;
  font-size: 14px;
  font-family: "MontserratBold", sans-serif;
  color: #62497c;
  text-transform: uppercase; }

.service-img {
  margin: 0 auto 35px auto;
  background-color: #62497c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80px;
  border-radius: 50px;
  height: 80px; }

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.project-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  background-color: #efefef; }
  .project-item img {
    width: 100%;
    height: auto;
    display: block; }
  .project-item .item-text {
    padding: 2.5em;
    -webkit-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear; }
    .project-item .item-text:hover {
      background-color: #ffe26d;
      cursor: pointer; }
    .project-item .item-text:hover .btn {
      background-color: #62497c;
      color: white; }
    .project-item .item-text .project-name {
      font-family: "MontserratBold", sans-serif;
      font-size: 15px;
      margin-bottom: 18px;
      text-transform: uppercase; }
    .project-item .item-text p {
      margin-bottom: 18px;
      font-size: 13px;
      font-family: "Helvetica", sans-serif;
      color: #878787; }

.plan-item {
  text-align: center; }
  .plan-item li {
    font-size: 13px;
    font-family: "Helvetica", sans-serif;
    margin-bottom: 12px; }
  .plan-item ul {
    margin-bottom: 27px; }
  .plan-item .btn {
    padding: 9px 29px; }

.plan-item + .plan-item {
  border-left: 2px solid #e7e7e7; }

.plan-name {
  font-family: "MontserratBold", sans-serif;
  font-size: 15px;
  margin-bottom: 22px; }

.plan-cost {
  font-family: "Montserrat", sans-serif;
  color: #9d9d9d;
  margin-bottom: 23px; }

.video-sec {
  background-color: #62497c;
  width: 100%; }
  .video-sec video {
    outline: none;
    width: 100%;
    max-width: 688px;
    height: auto; }

.video-header {
  color: white;
  padding-top: 90px;
  margin-bottom: 50px; }

.video-title {
  font-size: 11px;
  font-family: "MontserratBold", sans-serif;
  text-transform: uppercase;
  color: white;
  margin: 25px 0 110px 0;
  display: inline-block; }

.team-item {
  text-align: center; }
  .team-item .img-item {
    width: 173px;
    height: 173px;
    border-radius: 100px;
    background-color: #62497c;
    margin: 0 auto 30px auto;
    position: relative; }
  .team-item img {
    height: auto;
    max-width: 100%;
    border-radius: 100px;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }
  .team-item h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 18px;
    text-transform: uppercase; }
  .team-item span {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #bababa; }

.img-item-text {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }
  .img-item-text a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase; }
  .img-item-text a + a {
    margin-left: 10px; }
  .img-item-text span {
    font-family: "Font Awesome 5 Brands";
    color: white;
    font-size: 32px; }

.team-item:hover img {
  opacity: 0.2; }

.team-item:hover .img-item-text {
  opacity: 1; }

.newsletter {
  background: url("../img/backgrounds/background-2.jpg") center no-repeat;
  background-size: cover;
  height: 328px; }
  .newsletter .newsletter-header {
    color: white;
    padding-top: 42px;
    margin-bottom: 22px; }
  .newsletter .newsletter-input {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(173px, 4fr) 1fr;
    grid-template-columns: minmax(173px, 4fr) 1fr;
    -ms-grid-rows: 55px;
    grid-template-rows: 55px; }
    .newsletter .newsletter-input .btn {
      border-radius: 0; }
    .newsletter .newsletter-input input {
      font-size: 1em;
      border: none;
      outline: none;
      padding: 16px 18px; }

.blog-item {
  text-align: center; }
  .blog-item .btn {
    background-color: #ececec;
    color: black;
    display: inline-block;
    padding: 15px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.2s linear, color 0.2s linear;
    -o-transition: background-color 0.2s linear, color 0.2s linear;
    transition: background-color 0.2s linear, color 0.2s linear;
    font-family: "MontserratBold", sans-serif;
    border: none;
    cursor: pointer; }
    .blog-item .btn:hover {
      background-color: #ffe26d;
      color: black;
      display: inline-block;
      padding: 15px 13px;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 11px;
      text-align: center;
      text-decoration: none;
      -webkit-transition: background-color 0.2s linear, color 0.2s linear;
      -o-transition: background-color 0.2s linear, color 0.2s linear;
      transition: background-color 0.2s linear, color 0.2s linear;
      font-family: "MontserratBold", sans-serif;
      border: none;
      cursor: pointer; }
  .blog-item img {
    margin-bottom: 1.5em; }
  .blog-item h3 {
    margin: 0 18px 1em 18px;
    font-family: "MontserratBold", sans-serif;
    font-size: 15px; }
  .blog-item time {
    margin-bottom: 1em;
    display: inline-block;
    color: #a3a3aa;
    font-size: 13px;
    font-family: "Helvetica", sans-serif; }
  .blog-item p {
    margin: 0 18px 1.5em 18px;
    font-family: "Helvetica", sans-serif;
    font-size: 13px;
    line-height: 23px; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5em; }
  .contacts .contacts-form {
    width: 50%;
    background-color: #ffe26d;
    padding: 40px; }
    .contacts .contacts-form h2 {
      font-family: "MontserratBold", sans-serif;
      font-size: 44px;
      margin-bottom: 13px; }
    .contacts .contacts-form label {
      margin-bottom: 13px;
      display: block;
      font-family: "MontserratBold", sans-serif;
      font-size: 11px;
      text-transform: uppercase; }
    .contacts .contacts-form input {
      margin-bottom: 20px;
      width: 100%;
      max-width: 309px;
      height: 42px;
      font-size: 15px;
      border: none;
      outline: none;
      padding: 16px 18px;
      font-family: "Helvetica", sans-serif; }
    .contacts .contacts-form textarea {
      resize: none;
      border: none;
      outline: none;
      padding: 16px;
      font-size: 16px;
      width: 100%;
      max-width: 309px;
      height: 145px;
      font-family: "Helvetica", sans-serif; }
    .contacts .contacts-form .btn {
      border-radius: 0;
      width: 100%;
      max-width: 309px;
      background-color: #62497c;
      color: white;
      outline: none;
      margin-top: 20px; }
      .contacts .contacts-form .btn:hover {
        background-color: #3c2d4c; }
  .contacts .map {
    width: 50%;
    background: url("../img/backgrounds/background-3.jpg") center no-repeat;
    background-size: cover; }

.footer-item {
  text-align: center;
  padding-top: 80px; }
  .footer-item .footer-name {
    margin-bottom: 25px;
    font-family: "MontserratBold", sans-serif;
    font-size: 15px;
    display: inline-block; }
  .footer-item p {
    margin-bottom: 10px;
    font-family: "Helvetica", sans-serif;
    font-size: 15px; }
  .footer-item .footer-links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (30px)[3];
    grid-template-columns: repeat(3, 30px);
    grid-gap: 10px;
    width: 120px;
    margin: auto; }
    .footer-item .footer-links a {
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;
      font-size: 15px; }
      .footer-item .footer-links a:hover span {
        color: #62497c; }

@media (max-width: 768px) {
  * h2 {
    font-size: 1em; }
  .flex-item {
    width: 40%;
    margin-bottom: 50px; }
    .flex-item p {
      width: 130px;
      margin: 0 auto 10px auto; }
  .flex-item:last-child {
    width: 100%; }
  .flex {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .grid {
    grid-row-gap: 25px; }
  .project-item {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    width: 50%; }
  .plan-item + .plan-item {
    border: 0; }
  .map {
    display: none; }
  .contacts .contacts-form {
    width: 100%;
    text-align: center;
    padding: 20px; }
  .welcome-content p {
    font-size: 30px;
    width: 100%;
    text-align: center; }
  img[alt="Umbrella image"] {
    display: none; }
  .menu-link {
    display: none; }
  .mobile-link span {
    display: inline; } }

@media (max-width: 480px) {
  .section-header {
    margin: 35px auto; }
  .flex-item {
    width: 100%; }
  .project-item .item-text {
    padding: 1em; }
  .footer-item {
    padding-top: 40px; }
  .footer-item:not(:first-child) {
    padding-top: 0; }
  .flex-item {
    margin-bottom: 0; }
  .flex-item + .flex-item:before {
    content: "";
    height: 1px;
    width: 30%;
    background-color: grey;
    display: block;
    margin: 20px auto;
    opacity: 0.5; }
  .btn {
    padding: 12px 10px; }
  .video-header {
    padding-top: 20px; }
  .video-title {
    margin-bottom: 40px; }
  .welcome-content p {
    font-size: 25px;
    text-align: center; }
  .welcome-content {
    margin-bottom: 45px; } }

@media (max-width: 320px) {
  .project-item {
    width: 100%; } }
