// AAAAAW SHIT, HERE WE GO AGAIN...

// COLLORS
$yel: #ffe26d;
$pur: #62497c;
$blc: #323232;

// FONTS
@import 'fonts';

$mon: 'Montserrat', sans-serif;
$monbold: 'MontserratBold', sans-serif;
$robthin: 'RobotoThin', sans-serif;
$hel: 'Helvetica', sans-serif;

//MIXINS
@mixin link {
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
}

@mixin btn ($color, $bcg) {
	background-color: $bcg;
	color: $color;
	display: inline-block;
	padding: 15px 13px;
	border-radius: 3px; 
	text-transform: uppercase;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.2s linear, color 0.2s linear;
	font-family: $monbold;
	border: none;
	cursor: pointer;
}

@mixin img {
	height: auto;
	width: 100%;
}


// CSS

// BASIC CSS
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	padding: 0 8px;
}

li {
	list-style: none;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 65px;
	grid-column-gap: 8px;
	margin: 0 -8px;
}
.btn {
	@include btn(black, $yel);

	&:hover {
		@include btn(white, $pur);
	}
}
// HEADER
header {
	height: 100vh;
	background: url('../img/backgrounds/background-1.jpg') center no-repeat;
	background-size: cover;
}
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	color: #fff;
	text-transform: uppercase;
	font-family: $monbold;
	
	.logo {
		font-size: 30px;
		font-weight: bold;


	}
	.menu a {
		@include link;
		margin-right: 20px;
		font-size: 13px;
		transition: color 0.2s linear;
		
		&:hover {
			color: $yel;
		}
	}
}



.header-inner {
	width: 490px;
	
	// margin-top: 132px;
	color: white;

	h1 {
		font-size: 5.3vh;
		margin-bottom: 35px;
		font-family: $monbold;
	}
	p {
		font-size: 21px;
		margin-bottom: 35px;
		font-family: $robthin;
	}
}
.slider {
	// position: absolute;
	// left: 7px;
	// bottom: 38px;
	padding-bottom: 40px;

	
	.fa-circle {
		color: white;
		font-size: 7px;
		opacity: 0.5;
		cursor: pointer;
	}
	.active {
			opacity: 1;
		}
}

.container-header {
	// position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

// WELCOME TO ZIPPY
.section-header {
	margin: 90px auto 88px auto;
	color: black;
	font-family: $monbold;
	font-size: 44px;
	text-align: center;
}
.welcome-content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 75px; 
	
	.welcome-text {
		font-size: 30px;
		font-family: $robthin;
		width: 420px;
	}
	
	.welcome-umbrella img{
		width: 100%;
		max-width: 188px;
		height: auto;
	}
}

.service {

	border-bottom: 2px solid #e7e7e7;
	padding-bottom: 58px;
	
	.service-item {
		text-align: center;
		padding: 0 3em;
		
		.service-name {
			margin-bottom: 30px;
			font-size: 14px;
			font-family: $monbold;
			color: $pur;
			text-transform: uppercase;
		}
		
		p {
			margin-bottom: 35px;
			font-family: $hel;
			font-size: 13px;
			color: #a3a3a3; 	
		}
		
		.service-img {
			
			margin: 0 auto 35px auto;

			background-color: $pur;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 80px;
			border-radius: 50px;
			height: 80px;
		}
	}
}

// PROJECTS
.projects-header {
		margin: 60px 47px;
	}

.projects {
	display: flex;

	.project-item {
		width: 25%;
		background-color: #efefef;

		img {
			width: 100%;
			height: auto;
			display: block;
		}
		
		.item-text {
			padding: 2.5em;
			transition: background-color 0.2s linear;

			&:hover
			{
				background-color: $yel;
				cursor: pointer;
			}
			&:hover .btn{
				background-color: $pur;
				color: white;
			}


			.project-name {
				font-family: $monbold;
				font-size: 15px;
				margin-bottom: 18px;
				text-transform: uppercase;
			}

			p {
				margin-bottom: 18px;
				font-size: 13px;
				font-family: $hel;
				color: #878787;
			}
		}
	}
}
// PLAN

	.plan-item {
		text-align: center;

		.btn {
			padding: 9px 29px;
		}
	}
		.plan-item + .plan-item {
			border-left: 2px solid #e7e7e7;
		}
		.plan-name {
			font-family: $monbold;
			font-size: 15px;
			margin-bottom: 22px;
		}
		.plan-cost {
			font-family: $mon;
			color: #9d9d9d;
			margin-bottom: 23px;
		}
		li {
			font-size: 13px;
			font-family: $hel;
			margin-bottom: 12px;
		}
		ul {
		margin-bottom: 27px;
		}
		
	


// VIDEO PROJECTS

.video-sec {
	background-color: $pur;

	
	width: 100%;

	.video-header {
		color: white;
		padding-top: 90px;
		margin-bottom: 50px;
	}

	video {
		outline: none;
		width: 688px;
		height: 460px;
	}
	.video-title {
		font-size: 11px;
		font-family: $monbold;
		text-transform: uppercase;
		color: white;
		margin: 25px 0 110px 0;
		display: inline-block;
	}
}

// TEAM



.team-item {
    text-align: center;

    img
    {
        max-width: 178px;
        margin-bottom: 30px;

        @include img;
    }

    h3
    {
        font-family: $mon;
        font-size: 15px;
        font-weight: bold;

        margin-bottom: 18px;

        text-transform: uppercase;
    }

    span
    {
        font-family: $mon;
        font-size: 15px;
        color: #bababa;
    }
}

// NEWSLETTER
.newsletter {
	background: url('../img/backgrounds/background-2.jpg') center no-repeat;
	background-size: cover;
	height: 328px;
	.newsletter-header {
		color: white;
		padding-top: 42px;
		margin-bottom: 22px;

	}

	.newsletter-input {
		display: grid;
		grid-template-columns: minmax(173px, 4fr) 1fr;
		grid-template-rows: 55px;
		

		.btn {
			border-radius: 0;
		}


		input {
			
			font-size: 1em;
			border: none;
			outline: none;
			padding: 16px 18px;
		}

	}
}

	.blog-item {
		text-align: center;
		
		img {
			margin-bottom: 1.5em;
		}

		h3 {
			margin: 0 18px 1em 18px;
			font-family: $monbold;
			font-size: 15px;
		}
		span {
			margin-bottom: 1em;
			display: inline-block;
			color: #a3a3aa;
			font-size: 13px;
			font-family: $hel;

		}
		p {
			margin: 0 18px 1.5em 18px;
			font-family: $hel;
			font-size: 13px;
			line-height: 23px;

		}

	}	

// CONTACTS
.contacts {
	display: flex;
	margin-top: 5em;
	height: 653px;

	.contacts-form {
		width: 50%;
		background-color: $yel;
		padding: 50px 47px;
		
		.contacts-name {
			font-family: $monbold;
			font-size: 44px;
			margin-bottom: 33px;
		}

		label {
			margin-bottom: 13px;
			display: block;
			font-family: $monbold;
			font-size: 11px;
			text-transform: uppercase;
		}

		input {
			margin-bottom: 20px;
			width: 50%;
			height: 42px;
			font-size: 15px;
			border: none;
			outline: none;
			padding: 16px 18px;
			font-family: $hel;
		}
		textarea {
			resize: none;
			border: none;
			outline: none;
			padding: 16px;
			font-size: 16px;
			width: 50%;
			height: 145px;
			margin-bottom: 15px;
			font-family: $hel;
		}
		
		.btn {
			border-radius: 0;
			width: 50%;
			background-color: $pur;
			color: white;
			outline: none;
			&:hover {
				background-color: darken($pur, 15%);

			}
		}
	}
	.map {
		width: 50%;
	}
}

// FOOTER
.footer-item {
	text-align: center;
	margin-top: 80px;

	.footer-name {
		margin-bottom: 25px;
		font-family: $monbold;
		font-size: 15px;
		display: inline-block;
	} 
	p {
		margin-bottom: 10px;
		font-family: $hel;
		font-size: 15px;
	}
	.footer-links {
		display: grid;
		grid-template-columns: repeat(3, 30px);
		grid-gap: 10px; 
		width: 120px;
		margin: auto;
		
		a {
			@include link;
			font-size: 15px;
			
			&:hover span{
				color: $pur;
			}
		}
	}
		
}



