@font-face {
  font-family: 'Helvetica';
  src: url("fonts/Helvetica.ttf"); }

@font-face {
  font-family: 'MotserratBold';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'Motserrat';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Montserrat-Bold.ttf"); }

@font-face {
  font-family: 'RobotoThin';
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Roboto-Thin.ttf"); }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 8px; }

li {
  list-style: none; }

header {
  height: 100vh;
  background: url("../img/backgrounds/background-1.jpg") center no-repeat;
  background-size: cover; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  color: #fff;
  text-transform: uppercase;
  font-family: "MotserratBold", sans-serif; }
  .navigation .logo {
    font-size: 30px;
    font-weight: bold; }
  .navigation .menu a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 13px;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear; }
    .navigation .menu a:hover {
      color: #ffe26d; }

.btn {
  background-color: #ffe26d;
  color: black;
  display: inline-block;
  padding: 15px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  -o-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
  font-family: "MotserratBold", sans-serif; }
  .btn:hover {
    background-color: #62497c;
    color: white;
    display: inline-block;
    padding: 15px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.2s linear, color 0.2s linear;
    -o-transition: background-color 0.2s linear, color 0.2s linear;
    transition: background-color 0.2s linear, color 0.2s linear;
    font-family: "MotserratBold", sans-serif; }

.header-inner {
  width: 490px;
  color: white; }
  .header-inner h1 {
    font-size: 5.3vh;
    margin-bottom: 35px;
    font-family: "MotserratBold", sans-serif; }
  .header-inner p {
    font-size: 21px;
    margin-bottom: 35px;
    font-family: "RobotoThin", sans-serif; }

.slider {
  padding-bottom: 40px; }
  .slider .fa-circle {
    color: white;
    font-size: 7px;
    opacity: 0.5;
    cursor: pointer; }
  .slider .active {
    opacity: 1; }

.container-header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.section-header {
  margin: 90px auto 88px auto;
  color: black;
  font-family: "MotserratBold", sans-serif;
  font-size: 44px;
  text-align: center; }

.welcome-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 75px; }
  .welcome-content .welcome-text {
    font-size: 30px;
    font-family: "RobotoThin", sans-serif;
    width: 420px; }
  .welcome-content .welcome-umbrella img {
    width: 100%;
    max-width: 188px;
    height: auto; }

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 58px; }
  .service .service-item {
    text-align: center;
    width: 22%; }
    .service .service-item .service-name {
      margin-bottom: 30px;
      font-size: 14px;
      font-family: "MotserratBold", sans-serif;
      color: #62497c;
      text-transform: uppercase; }
    .service .service-item p {
      margin-bottom: 35px;
      font-family: "Helvetica", sans-serif;
      font-size: 13px;
      color: #a3a3a3; }
    .service .service-item .service-img {
      margin: 0 auto 35px auto;
      background-color: #62497c;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 80px;
      border-radius: 50px;
      height: 80px; }

.projects-header {
  margin: 60px 47px; }

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .projects .project-item {
    width: 25%;
    background-color: #efefef; }
    .projects .project-item img {
      width: 100%;
      height: auto;
      display: block; }
    .projects .project-item .item-text {
      padding: 2.5em;
      -webkit-transition: background-color 0.2s linear;
      -o-transition: background-color 0.2s linear;
      transition: background-color 0.2s linear; }
      .projects .project-item .item-text:hover {
        background-color: #ffe26d;
        cursor: pointer; }
      .projects .project-item .item-text:hover .btn {
        background-color: #62497c;
        color: white; }
      .projects .project-item .item-text .project-name {
        font-family: "MotserratBold", sans-serif;
        font-size: 15px;
        margin-bottom: 18px;
        text-transform: uppercase; }
      .projects .project-item .item-text p {
        margin-bottom: 18px;
        font-size: 13px;
        font-family: "Helvetica", sans-serif;
        color: #878787; }

.plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .plan .plan-item {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    width: 236px; }
  .plan .plan-item + .plan-item {
    border-left: 2px solid #e7e7e7; }
  .plan .plan-name {
    font-family: "MotserratBold", sans-serif;
    font-size: 15px;
    margin-bottom: 22px; }
  .plan .plan-cost {
    font-family: "Motserrat", sans-serif;
    color: #9d9d9d;
    margin-bottom: 23px; }
  .plan li {
    font-size: 13px;
    font-family: "Helvetica", sans-serif;
    margin-bottom: 12px; }
  .plan ul {
    margin-bottom: 27px; }
  .plan .btn {
    padding: 9px 29px; }

.video-sec {
  background-color: #62497c;
  width: 100%; }
  .video-sec .video-header {
    color: white;
    padding-top: 90px;
    margin-bottom: 50px; }
  .video-sec video {
    outline: none;
    width: 688px;
    height: 460px; }
  .video-sec .video-title {
    font-size: 11px;
    font-family: "MotserratBold", sans-serif;
    text-transform: uppercase;
    color: white;
    margin: 25px 0 110px 0;
    display: inline-block; }

.team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 65px;
  grid-column-gap: 8px;
  margin: 0 -8px; }
  .team .team-item {
    text-align: center; }
    .team .team-item img {
      margin-bottom: 30px;
      height: auto;
      width: 100%;
      max-width: 178px; }
    .team .team-item h3 {
      margin-bottom: 18px;
      font-family: "Motserrat", sans-serif;
      font-weight: bold;
      font-size: 15px;
      text-transform: uppercase; }
    .team .team-item span {
      font-family: "Motserrat", sans-serif;
      color: #bababa;
      font-size: 15px; }
